/build/
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
Desktop/PawPrints/bin/Debug/PawPrints.exe
Desktop/PawPrints/bin/Debug/PawPrints.pdb
/Desktop/PawPrints/.vs/PawPrints/v15/Server/sqlite3/db.lock
