################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Desktop/PawPrints/obj/Debug
/Desktop/PawPrints/.vs/PawPrints/v14
